<header>
  <nav>
    <ul>
    <li><a href="/">Home</a></li>
      <% if logged_in? %>
      <li><a href="/users/<%=current_user.id%>"><%= current_user.username%>'s profile</a></li>
      <li><form action="/logout" method="get">
        <input type="submit" value="Log out">
      </form></li>
      <% else %>
      <li><a href="/sessions/new">Log in</a></li>
      <li><a href="/users/new">Register</a></li>
      <% end %>
    </ul>
  </nav>
</header>